<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="ROBOTS" content="NOINDEX, NOFOLLOW">
    <title>Flyer</title>

    <link rel="stylesheet" href="/styles/flyer.css">
</head>

<body>
    <main>
        <header>
            <hgroup>
                <h1>Harm Reduction Resources</h1>
                <p>Near (LOCATION)</p>
                <p>Updated <time>(DATE)</time></p>
            </hgroup>
        </header>
        <section class="flyer-body">
            <h2>Recovery Centers</h2>
            <section>
                <h3>Halyard Behavioral Health & Wellness</h3>
                <address>
                    <dl>
                        <dt>Phone</dt>
                        <dd>240 718 8274</dd>

                        <dt>Address</dt>
                        <dd>2415 Maryland Ave.</dd>

                        <dt>Hours</dt>
                        <dd>8am–5pm</dd>

                        <dt>Distance</dt>
                        <dd>1.4mi away</dd>
                    </dl>
                </address>
            </section>
        </section>
    </main>
</body>

</html>